<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="releve" appconnect="local" components="{dmxBootstrap5Navigation:{},dmxBrowser:{},dmxDataTraversal:{},dmxNotifications:{},dmxStateManagement:{},dmxBootstrap5Modal:{},dmxBootstrap5TableGenerator:{}}" -->
<meta name="ac:route" content="/views/releve">


<dmx-data-view id="releveView" dmx-bind:data="getReleve.data" pagesize="5" filter="Anomalie=='PA'"></dmx-data-view>
<dmx-data-view id="releveErreur" dmx-bind:data="selectedReleveCorrection.items" pagesize="5"></dmx-data-view>

<dmx-data-view id="logBordereauView" dmx-bind:data="lotsuivibordereau.data" pageSize="5"></dmx-data-view>
<dmx-data-view id="suiviebOrdereauView" dmx-bind:data="suiviBordereauApi.data" pageSize="5"></dmx-data-view>
<div class="modal" id="RESETBordereau" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title heading-text">Réinitialisation du bordereau</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Etes vous sûr de vouloir réinitialiser ce bordereau?</p>

                <form is="dmx-api-form" id="resetForm" method="post" action="http://localhost:5243/api/suiviBorderau/resetBordereau" dmx-on:error="notifies1.danger(lastError.message)" dmx-on:success="notifies1.success('Bordereau reinitialiser avec succés');suiviBordereauApi.load({});bordereauNonAttribu.load({});showlotbordereau.setValue(false)" dmx-header:authorization="connectedUser.data.token">
                    <input id="userCreaReset" name="userCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule" />

                    <input id="bordereauReset" name="bordereau" type="hidden" class="form-control" dmx-bind:value="selectedBordereau.value.Bordereau">
                    <input id="tourneeReset" name="tournee" type="hidden" class="form-control" dmx-bind:value="selectedBordereau.value.Tournee">
                    <input id="periodeReset" name="periode" type="hidden" class="form-control" dmx-bind:value="selectedBordereau.value.Periode"><button id="btn4" class="btn btn-sm btn-danger" type="submit">
                        Reinitialiser
                    </button>

                </form>
            </div>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>


<div is="dmx-browser" id="browser1"></div>
<dmx-notifications id="notifies1"></dmx-notifications>






<dmx-array id="selectedReleveCorrection" dmx-bind:items="getReleve.data.where(`Anomalie`, 'PA', '!==')"></dmx-array>
<dmx-value id="jsonReleveCorrection"></dmx-value>
<dmx-value id="selectedBordereau"></dmx-value>
<dmx-value id="selectedReleve"></dmx-value>
<dmx-value id="numLotFac"></dmx-value>
<dmx-value id="releveurloading" dmx-bind:value="false"></dmx-value>
<dmx-value id="lotfacLoading" dmx-bind:value="false"></dmx-value>
<dmx-value id="periodeLoading" dmx-bind:value="true"></dmx-value>

<dmx-api-datasource id="logReleveCorrection" is="dmx-fetch" dmx-param:num_releve="" url="http://localhost:5243/api/releve/logReleve" noload="true"></dmx-api-datasource>
<dmx-api-action id="updateReleve" noload="true" url="http://localhost:5243/api/releve" method="post" dmx-data:jsonrelevecorrection="jsonReleveCorrection.value" dmx-data:matricule="connectedUser.data.matricule" data-type="json" dmx-on:success="notifies1.success('Corrections effectuées')" dmx-on:error="notifies1.danger(lastError.response)"></dmx-api-action>
<dmx-api-datasource id="getReleve" is="dmx-fetch" url="http://localhost:5243/api/releve" dmx-header:authorization="connectedUser.data.token" dmx-param:num_tourne="selectedBordereau.value.Tournee" dmx-param:id_periode="selectedBordereau.value.Periode" dmx-param:num_bordereaux="selectedBordereau.value.bordereau" noload="true"></dmx-api-datasource>
<dmx-api-datasource id="getAnomalieReleve" is="dmx-fetch" url="http://localhost:5243/api/releve/anomalie" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-local-manager id="connectedUser"></dmx-local-manager>
<dmx-api-action id="updateaffectBordereau" noload="true" url="http://localhost:5243/api/suiviBorderau/affecteBordereau" dmx-param:matricule="bodyNonAttribue[$index].releveurBordereauNonAttribList.value" dmx-param:periode="bodyNonAttribue[$index].Periode" dmx-param:tournee="bodyNonAttribue[$index].Tournee" dmx-param:bordereau="bodyNonAttribue[$index].Bordereau" dmx-header:authorization="connectedUser.data.token" dmx-on:success="bordereauNonAttribu.load({});suiviBordereauApi.load({});notifies1.success('Bordereau Affecté')" dmx-on:error="notifies1.danger('Une erreur est survenue')"></dmx-api-action>
<dmx-api-datasource id="suiviBordereauApi" is="dmx-fetch" noload="true" url="http://localhost:5243/api/suiviBorderau/getSuivibordereauReleve" dmx-param:numlotfac="numLotFac.value" dmx-param:periode="periode1.value" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-api-datasource id="lotfacApi" is="dmx-fetch" url="http://localhost:5243/api/suiviBorderau/lotFacturationByIdPeriod" dmx-param:id="periode1.value" dmx-on:success="lotfacLoading.setValue(false)" noload="true" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-api-datasource id="periodeApi" is="dmx-fetch" url="http://localhost:5243/api/suiviBorderau/periods" dmx-on:success="periodeLoading.setValue(false)" dmx-on:unauthorized="connectedUser.removeAll();browser1.goto('/auth/login')" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<div class="wappler-block container-fluid">
    <div class="row ">
        <div class=" col-12 col-lg-5 ">
            <div class="card">
                <h6 class="heading-text">Recuperer les bordereaux avec les filtres ci-dessous</h6>
                <div class="form-group row">
                    <label for="periodeReset" class="form-label col-sm-2 col-form-label">Période:</label>
                    <div class="col-sm-10 align-self-center">
                        <select id="periode1" class="form-select form-control form-select-sm" dmx-bind:options="periodeApi.data" optiontext="NomPeriode" optionvalue="IdPeriode" dmx-on:changed="lotfacLoading.setValue(true);lotfacApi.load({});showlotbordereau.setValue(false);showBordereau.setValue(false);releveurs.setValue()">
                            <option selected="" value="">Aucune periode</option>
                        </select>
                        <button id="btn11" class="btn" dmx-show="periodeLoading.value">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                        </button>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="lotfac" class="form-label col-sm-2 col-form-label">Lot facturation:</label>

                    <div class="col-sm-10 align-self-center">
                        <select id="lotfac1" class="form-select form-select-sm" dmx-bind:options="lotfacApi.data" optiontext="Libelle" optionvalue="NumLotFac" dmx-on:changed="numLotFac.setValue(value);suiviBordereauApi.load({})">
                            <option selected="" value="">Aucune cellule</option>
                        </select>
                        <button id="btn21" class="btn" dmx-show="lotfacLoading.value">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-12  col-lg-7  pt-2 pb-3" id="attribue">

            <div class="card">
                <h6 class=" heading-text">
                    Liste des bordereaux
                </h6>

                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Tournee</th>
                                <th>Periode</th>
                                <th>Bordereau</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="suiviebOrdereauView.data" id="tableRepeat2">
                            <tr dmx-on:click="selectedBordereau.setValue($value);lotsuivibordereau.load({});getReleve.load({num_tourne: $value.Tournee, id_periode: $value.Periode, num_bordereaux: $value.Bordereau})" dmx-class:table-success="Bordereau==selectedBordereau.value.Bordereau&amp;&amp;Tournee==selectedBordereau.value.Tournee" class="table-row">
                                <td dmx-text="Tournee"></td>
                                <td dmx-text="Periode"></td>
                                <td dmx-text="Bordereau"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-sm" dmx-dataview="suiviebOrdereauView" dmx-generator="bs5paging">
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == 1" aria-label="First">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                    </li>
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == 1" aria-label="Previous">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.prev()"><span aria-hidden="true">&lsaquo;</span></a>
                    </li>
                    <li class="page-item" dmx-class:active="title == suiviebOrdereauView.page" dmx-class:disabled="!active" dmx-repeat="suiviebOrdereauView.getDataViewPagination(2,1,'...')">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.select(page)">{{title)}}</a>
                    </li>
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == suiviebOrdereauView.pages" aria-label="Next">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.next()"><span aria-hidden="true">&rsaquo;</span></a>
                    </li>
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == suiviebOrdereauView.pages" aria-label="Last">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-12  pt-2">
            <div class="card">


                <ul class="nav nav-tabs" id="anomaliNav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="sans_tab" data-bs-toggle="tab" href="#" data-bs-target="#Sans" role="tab" aria-controls="navTabs1_1" aria-selected="true">Sans Anomalies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="avec_tab" data-bs-toggle="tab" href="#" data-bs-target="#Avec" role="tab" aria-controls="navTabs1_2" aria-selected="false">Avec Anomalies</a>
                    </li>
                </ul>
                <div class="tab-content" id="navTabs1_content">
                    <div class="tab-pane fade show active" id="Sans" role="tabpanel">
                        <h6 class="heading-text">Les releves sans anomalies du bordereau</h6>
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr class="table-head">
                                        <th>Nom</th>
                                        <th>Addresse</th>
                                        <th>Numero PL</th>
                                        <th>Numéro Compteur</th>
                                        <th>Index Precedent</th>
                                        <th>Date Releve Precedente</th>
                                        <th>Durée Periode</th>
                                        <th>Consommation</th>
                                        <th>Index Active</th>
                                        <th>Date releve</th>
                                        <th>Anomalie</th>
                                        <th>Releveur</th>
                                        <th>Consommation Moyenne</th>
                                        <th>Montant Fd</th>
                                    </tr>
                                </thead>
                                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="releveView.data" id="tableRepeat5">
                                    <tr class="table-row" dmx-class:table-success="$value==selectedReleve.value" dmx-on:click="selectedReleve.setValue($value);logReleveCorrection.load({num_releve: NumReleve})">
                                        <td dmx-text="Nom"></td>
                                        <td dmx-text="AdrPhysique"></td>
                                        <td dmx-text="Codepl"></td>
                                        <td dmx-text="NumCpteur"></td>
                                        <td dmx-text="PreIndexA"></td>
                                        <td dmx-text="PreDateReleve.formatDate('dd-MMM-yyyy')"></td>
                                        <td dmx-text="PeriodeDuree"></td>
                                        <td dmx-text="Consommation"></td>
                                        <td dmx-text="IndexA"></td>
                                        <td dmx-text="DateReleve.formatDate('dd-MMM-yyyy')"></td>
                                        <td dmx-text="Libelle"></td>
                                        <td dmx-text="Matricule"></td>
                                        <td dmx-text="MoyConsommation"></td>
                                        <td dmx-text="Fmontant"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-sm" dmx-dataview="releveView" dmx-generator="bs5paging">
                            <li class="page-item" dmx-class:disabled="releveView.page == 1" aria-label="First">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="releveView.first()"><span aria-hidden="true">‹‹</span></a>
                            </li>
                            <li class="page-item" dmx-class:disabled="releveView.page == 1" aria-label="Previous">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="releveView.prev()"><span aria-hidden="true">‹</span></a>
                            </li>
                            <li class="page-item" dmx-class:active="title == releveView.page" dmx-class:disabled="!active" dmx-repeat="releveView.getDataViewPagination(2,1,'...')">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="releveView.select(page)">{{title)}}</a>
                            </li>
                            <li class="page-item" dmx-class:disabled="releveView.page == releveView.pages" aria-label="Next">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="releveView.next()"><span aria-hidden="true">›</span></a>
                            </li>
                            <li class="page-item" dmx-class:disabled="releveView.page == releveView.pages" aria-label="Last">
                                <a href="javascript:void(0)" class="page-link" dmx-on:click="releveView.last()"><span aria-hidden="true">››</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="Avec" role="tabpanel">
                        <div class="d-flex flex-column">
                            <h6 class="heading-text">Les releves avec anomalies du bordereau</h6>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr class="table-head">
                                            <th>Nom</th>
                                            <th>Addresse</th>
                                            <th>Numero PL</th>
                                            <th>Numéro Compteur</th>
                                            <th>Index Precedent</th>
                                            <th>Date Releve Precedente</th>
                                            <th>Durée Periode</th>
                                            <th>Consommation</th>
                                            <th>Index Active</th>
                                            <th>Date releve</th>
                                            <th>Anomalie</th>
                                            <th>Releveur</th>
                                            <th>Consommation Moyenne</th>
                                            <th>Montant Fd</th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="releveErreur.data" id="tableRepeat3">
                                        <tr dmx-class:table-success="selectedReleve.value==$value" class=" table-row" dmx-on:click="selectedReleve.setValue($value);logReleveCorrection.load({num_releve: NumReleve})">
                                            <td dmx-text="Nom"></td>
                                            <td dmx-text="AdrPhysique"></td>
                                            <td dmx-text="Codepl"></td>
                                            <td dmx-text="NumCpteur"></td>
                                            <td dmx-text="PreIndexA"></td>
                                            <td dmx-text="PreDateReleve.formatDate('dd-MMM-yyyy')"></td>
                                            <td dmx-text="PeriodeDuree"></td>
                                            <td dmx-text="Consommation"></td>
                                            <td>
                                                <input id="indexA" name="indexA" type="text" class="form-control correct-input" dmx-bind:value="IndexA" dmx-on:changed="run({runJS:{function:'updateDataIndex',args:[`$index`,`value`],name:'updateData',outputType:'text'}})">
                                            </td>
                                            <td dmx-text="DateReleve.formatDate('dd-MMM-yyyy')"></td>
                                            <td>
                                                <select id="libelleAnomalie" class="form-select correct-input" dmx-bind:options="getAnomalieReleve.data" optiontext="Libelle" optionvalue="Code" dmx-bind:value="Anomalie" dmx-on:changed="run({runJS:{function:'updateDataAnomalie',args:[`$index`,`value`],outputType:'text'}})">
                                                </select>
                                            </td>
                                            <td dmx-text="Matricule"></td>
                                            <td dmx-text="MoyConsommation"></td>
                                            <td dmx-text="Fmontant"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between align-items-start">
                                <ul class="pagination pagination-sm" dmx-dataview="releveErreur" dmx-generator="bs5paging">
                                    <li class="page-item" dmx-class:disabled="releveErreur.page == 1" aria-label="First">
                                        <a href="javascript:void(0)" class="page-link" dmx-on:click="releveErreur.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                                    </li>
                                    <li class="page-item" dmx-class:disabled="releveErreur.page == 1" aria-label="Previous">
                                        <a href="javascript:void(0)" class="page-link" dmx-on:click="releveErreur.prev()"><span aria-hidden="true">&lsaquo;</span></a>
                                    </li>
                                    <li class="page-item" dmx-class:active="title == releveErreur.page" dmx-class:disabled="!active" dmx-repeat="releveErreur.getDataViewPagination(2,1,'...')">
                                        <a href="javascript:void(0)" class="page-link" dmx-on:click="releveErreur.select(page)">{{title)}}</a>
                                    </li>
                                    <li class="page-item" dmx-class:disabled="releveErreur.page == releveErreur.pages" aria-label="Next">
                                        <a href="javascript:void(0)" class="page-link" dmx-on:click="releveErreur.next()"><span aria-hidden="true">&rsaquo;</span></a>
                                    </li>
                                    <li class="page-item" dmx-class:disabled="releveErreur.page == releveErreur.pages" aria-label="Last">
                                        <a href="javascript:void(0)" class="page-link" dmx-on:click="releveErreur.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                                    </li>
                                </ul><button id="correctBtn" class="btn btn-sm btn-success" dmx-on:click="run([{runJS:{function:'releveToJson',name:'releveToJson',outputType:'text'}},{run:{action:`updateReleve.load({jsonrelevecorrection: jsonReleveCorrection.value, matricule: connectedUser.data.matricule});getReleve.load({num_tourne: selectedBordereau.value.Tournee, id_periode: selectedBordereau.value.Periode, num_bordereaux: selectedBordereau.value.Bordereau})`,outputType:'text'}}])">Corriger tout</button>
                            </div>
                        </div>



                    </div>
                </div>






            </div>
            <div class="card">
                <div class="d-flex flex-column">
                    <h6 class="heading-text">Historique du relevé</h6>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Numero de la releve</th>
                                    <th>Ancien Index</th>
                                    <th>Corrigé par</th>
                                    <th>Date</th>
                                    <th>Date Prime Fixe</th>
                                    <th>Ancienne anomalie</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="historiqueReleve.data" id="tableRepeat4">
                                <tr>
                                    <td dmx-text="NumReleve"></td>
                                    <td dmx-text="IndexAncien"></td>
                                    <td dmx-text="UserCrea"></td>
                                    <td dmx-text="DateCrea.formatDate('dd-MM-yyyy')"></td>
                                    <td dmx-text="DatePf.formatDate('dd-MM-yyyy')"></td>
                                    <td dmx-text="Anomalie"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pagination-sm" dmx-dataview="historiqueReleve" dmx-generator="bs5paging">
                        <li class="page-item" dmx-class:disabled="historiqueReleve.page == 1" aria-label="First">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="historiqueReleve.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="historiqueReleve.page == 1" aria-label="Previous">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="historiqueReleve.prev()"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:active="title == historiqueReleve.page" dmx-class:disabled="!active" dmx-repeat="historiqueReleve.getDataViewPagination(2,1,'...')">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="historiqueReleve.select(page)">{{title)}}</a>
                        </li>
                        <li class="page-item" dmx-class:disabled="historiqueReleve.page == historiqueReleve.pages" aria-label="Next">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="historiqueReleve.next()"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="historiqueReleve.page == historiqueReleve.pages" aria-label="Last">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="historiqueReleve.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    function releveToJson(){
    var array = dmx.app.data.content.selectedReleveCorrection.items;
    var jsonArray = [];
        for(var i=0;i<array.length;i++){
           if(array[i].IndexC == 0)array[i].IndexC = array[i].IndexA;
           jsonArray.push( {
                "NumReleve":array[i].NumReleve,
                "IndexA":array[i].IndexA,
                "IndexC":array[i].IndexC,
                "Anomalie":array[i].Anomalie,
                "AnomalieC":array[i].AnomalieC,
            }
            )

        }
        dmx.app.data.content.jsonReleveCorrection.value = JSON.stringify(jsonArray);
        

    }

     function updateDataIndex(index,newIndex){
        dmx.app.data.content.selectedReleveCorrection.items[index].IndexC = newIndex;

    }

        function updateDataAnomalie(index,newAnomalie){
        dmx.app.data.content.selectedReleveCorrection.items[index].AnomalieC = newAnomalie;
    }
</script>