<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="releve" appconnect="local" components="{dmxBootstrap5Navigation:{},dmxBrowser:{},dmxDataTraversal:{},dmxNotifications:{},dmxStateManagement:{},dmxBootstrap5Modal:{},dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBootstrap5PagingGenerator:{}}" -->
<div class="modal" id="showIMAGEmODAL" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Numero du compteur: {{selectedReleve.value.num_cpteur}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img dmx-bind:src="'data:image/jpeg;base64,'+releveImage.value">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="confirmCorrectReleve" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Etes-vous sûr de cette correction?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center row justify-content-center">
                    <div class="col">
                        <p>Etes-vous sûr de confirmer les corrections effectuées?</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Annuler</button>
                <button class="btn btn-primary btn-sm" type="submit" dmx-on:click="run([{while:{condition:`loopIndexCorrection.value&lt;releveAnomaliList.count`,exec:{steps:[{run:{action:`correctReleve.load({user_crea: connectedUser.data.matricule, relevearrray: releveAnomaliList, oldreleve: modifiedReleve, num_releve: releveAnomaliList.items[loopIndexCorrection.value].num_releve, index_a: releveAnomaliList.items[loopIndexCorrection.value].index_a, index_ancien: modifiedReleve.items.where(\`num_releve\`,releveAnomaliList.items[loopIndexCorrection.value].num_releve,&quot;==&quot;)[0].index_a, date_pf: modifiedReleve.items.where(\`num_releve\`,releveAnomaliList.items[loopIndexCorrection.value].num_releve,&quot;==&quot;)[0].date_pf, anomalie: modifiedReleve.items.where(\`num_releve\`,releveAnomaliList.items[loopIndexCorrection.value].num_releve,&quot;==&quot;)[0].anomalie})`,outputType:'text'}},{run:{action:`loopIndexCorrection.setValue(loopIndexCorrection.value+1)`,outputType:'text'}}]}}},{run:{action:`getreleve.load({tournee: selectedBordereau.value.tournee, periode: selectedBordereau.value.periode, bordereau: selectedBordereau.value.bordereau});confirmCorrectReleve.toggle()`,outputType:'text'}}])">Confirmer</button>
            </div>
        </div>
    </div>
</div>
<dmx-serverconnect id="getReleveImage" url="/api/releve/get/getReleveImage" noload="true" dmx-on:success="run({runJS:{name:'convertImage',outputType:'text',function:'convertImage',args:[`getReleveImage.data.releveImage[0].image.data`]}})"></dmx-serverconnect>
<dmx-serverconnect id="getLogReleve" noload="true" url="/api/releve/get/getLogReleve"></dmx-serverconnect>


<dmx-serverconnect id="getMaxId" url="/api/releve/get/getMaxIdLog"></dmx-serverconnect>
<dmx-serverconnect id="correctReleve" url="/api/releve/post/updateReleve" noload="true" dmx-on:success="notifies1.success('Les releves ont été corrigées')" dmx-on:error="notifies1.danger(lastError.response.message)"></dmx-serverconnect>
<dmx-serverconnect id="getAnomalies" url="/api/globals/getAnomalies"></dmx-serverconnect>
<dmx-serverconnect id="getreleve" url="/api/releve/get/getReleveBordereau" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="getSuiviBordereau" url="/api/bordereaux/get/getSuivieBordereau" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="getPeriod" url="/api/globals/getPeriods"></dmx-serverconnect>
<dmx-serverconnect id="getLotFac" url="/api/globals/getLotFac" noload="true"></dmx-serverconnect>
<meta name="ac:route" content="/views/releve">
<dmx-value id="allCheckBoxChecked" dmx-bind:value="false"></dmx-value>



<dmx-data-view id="releveView" dmx-bind:data="getreleve.data.getReleve" pagesize="5"></dmx-data-view>
<dmx-data-view id="releveLog" dmx-bind:data="getLogReleve.data.query" pagesize="5"></dmx-data-view>
<dmx-data-view id="releveErreur" dmx-bind:data="releveAnomaliList.items" pagesize="5"></dmx-data-view>

<dmx-data-view id="logBordereauView" dmx-bind:data="lotsuivibordereau.data" pageSize="5"></dmx-data-view>
<dmx-data-view id="suiviebOrdereauView" dmx-bind:data="matriculeSearch.value?getSuiviBordereau.data.getSuivieBordereau.where(`matricule`,matriculeSearch.value,&quot;==&quot;):getSuiviBordereau.data.getSuivieBordereau" pagesize="5"></dmx-data-view>
<div class="modal" id="RESETBordereau" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title heading-text">Réinitialisation du bordereau</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><i class="fas fa-exclamation-triangle" dmx-style:color="'red'"></i>
                    Etes vous sûr de vouloir réinitialiser ce bordereau?</p>

                <form is="dmx-api-form" id="resetForm" method="post" action="http://localhost:5243/api/suiviBorderau/resetBordereau" dmx-on:error="notifies1.danger(lastError.message)" dmx-on:success="notifies1.success('Bordereau reinitialiser avec succés');suiviBordereauApi.load({});bordereauNonAttribu.load({});showlotbordereau.setValue(false)" dmx-header:authorization="connectedUser.data.token">
                    <input id="userCreaReset" name="userCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule" />

                    <input id="bordereauReset" name="bordereau" type="hidden" class="form-control" dmx-bind:value="selectedBordereau.value.Bordereau">
                    <input id="tourneeReset" name="tournee" type="hidden" class="form-control" dmx-bind:value="selectedBordereau.value.Tournee">
                    <input id="periodeReset" name="periode" type="hidden" class="form-control" dmx-bind:value="selectedBordereau.value.Periode"><button id="btn4" class="btn btn-sm btn-danger" type="submit">
                        Reinitialiser
                    </button>

                </form>
            </div>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>


<div is="dmx-browser" id="browser1"></div>
<dmx-notifications id="notifies1"></dmx-notifications>






<dmx-array id="modifiedReleve"></dmx-array>
<dmx-array id="releveAnomaliList" dmx-bind:items="getreleve.data.getReleve.where(`anomalie`,&quot;PE&quot;,&quot;==&quot;);"></dmx-array>
<dmx-value id="jsonReleveCorrection"></dmx-value>
<dmx-value id="loopIndexCorrection" dmx-bind:value="0"></dmx-value>
<dmx-value id="selectedBordereau"></dmx-value>
<dmx-value id="selectedReleve"></dmx-value>
<dmx-value id="indexReleve"></dmx-value>
<dmx-value id="releveImage"></dmx-value>
<dmx-value id="numLotFac"></dmx-value>
<dmx-value id="releveurloading" dmx-bind:value="false"></dmx-value>
<dmx-value id="lotfacLoading" dmx-bind:value="false"></dmx-value>
<dmx-value id="periodeLoading" dmx-bind:value="true"></dmx-value>

<dmx-api-datasource id="logReleveCorrection" is="dmx-fetch" dmx-param:num_releve="" url="http://localhost:5243/api/releve/logReleve" noload="true"></dmx-api-datasource>
<dmx-api-action id="updateReleve" noload="true" url="http://localhost:5243/api/releve" method="post" dmx-data:jsonrelevecorrection="jsonReleveCorrection.value" dmx-data:matricule="connectedUser.data.matricule" data-type="json" dmx-on:success="notifies1.success('Corrections effectuées')" dmx-on:error="notifies1.danger(lastError.response)"></dmx-api-action>
<dmx-local-manager id="connectedUser"></dmx-local-manager>
<div class="wappler-block container-fluid">
    <div class="row ">
        <div class=" col-12 col-md-4">
            <div class="card">
                <h6 class="heading-text">Recuperer les bordereaux avec les filtres ci-dessous</h6>
                <div class="form-group row">
                    <label for="periodeReset" class="form-label col-6 col-form-label">Période:</label>
                    <div class="col-6 align-self-center">
                        <select id="periode1" class="form-select form-control form-select-sm" dmx-bind:options="getPeriod.data.getPeriod" optiontext="nom_periode" optionvalue="id_periode" dmx-on:changed="lotfacApi.load({});getLotFac.load({idperiod: value})">
                            <option selected="" value="">Aucune periode</option>
                        </select>
                        <button id="btn11" class="btn" dmx-show="getPeriod.state.executing">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                        </button>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="lotfac" class="form-label col-6 col-form-label">Lot facturation:</label>

                    <div class="col-6 align-self-center">
                        <select id="lotfac1" class="form-select form-select-sm" dmx-bind:options="getLotFac.data.getLotFac" optiontext="libelle" optionvalue="num_lot_fac" dmx-on:changed="numLotFac.setValue(value);getSuiviBordereau.load({id_periode: periode1.value, num_lot_fac: value},true);getreleve.load({tournee: 0, periode: 0, bordereau: 0},true)">
                            <option selected="" value="">Aucune cellule</option>
                        </select>
                        <button id="btn21" class="btn" dmx-show="getLotFac.state.executing">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class=" col-12  col-md-8 " id="attribue">

            <div class="card">
                <h6 class=" heading-text">
                    Liste des bordereaux
                </h6>
                <div class="d-flex flex-row row">
                    <div class="form-group mb-3 row">
                        <label for="matriculeSearch" class="col-sm-2 col-form-label">Recherche par matricule</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="matriculeSearch" name="input1" aria-describedby="input1_help">
                        </div>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="small">
                                <th class="small">Tournee</th>
                                <th class="small">Periode</th>
                                <th class="small">Bordereau</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="suiviebOrdereauView.data" id="tableRepeat2">
                            <tr dmx-on:click="selectedBordereau.setValue($value);getreleve.load({tournee: tournee, periode: periode, bordereau: bordereau})" dmx-class:table-success="bordereau==selectedBordereau.value.bordereau&amp;&amp;tournee==selectedBordereau.value.tournee" class="table-row ">
                                <td class="small" dmx-text="tournee"></td>
                                <td class="small" dmx-text="periode"></td>
                                <td class="small" dmx-text="bordereau"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-sm" dmx-dataview="suiviebOrdereauView" dmx-generator="bs5paging">
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == 1" aria-label="First">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                    </li>
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == 1" aria-label="Previous">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.prev()"><span aria-hidden="true">&lsaquo;</span></a>
                    </li>
                    <li class="page-item" dmx-class:active="title == suiviebOrdereauView.page" dmx-class:disabled="!active" dmx-repeat="suiviebOrdereauView.getDataViewPagination(2,1,'...')">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.select(page)">{{title)}}</a>
                    </li>
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == suiviebOrdereauView.pages" aria-label="Next">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.next()"><span aria-hidden="true">&rsaquo;</span></a>
                    </li>
                    <li class="page-item" dmx-class:disabled="suiviebOrdereauView.page == suiviebOrdereauView.pages" aria-label="Last">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="suiviebOrdereauView.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">

        <div class=" col-12  pt-2">
            <div class="card">


                <ul class="nav nav-tabs" id="anomaliNav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="avec_tab" data-bs-toggle="tab" href="#" data-bs-target="#Avec" role="tab" aria-controls="navTabs1_2" aria-selected="false">Avec Anomalies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="sans_tab" data-bs-toggle="tab" href="#" data-bs-target="#Sans" role="tab" aria-controls="navTabs1_1" aria-selected="true">Toutes les releves</a>
                    </li>

                </ul>
                <div class="tab-content" id="navTabs1_content">
                    <div class="tab-pane fade active show" id="Avec" role="tabpanel">
                        <div class="d-flex flex-column">
                            <h6 class="heading-text">Les releves avec anomalies du bordereau</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="small">
                                            <th class="small">Modifié</th>
                                            <th class="small">Nom</th>
                                            <th class="small">Addresse</th>
                                            <th class="small">Numero PL</th>
                                            <th class="small">Numéro Compteur</th>
                                            <th class="small">Index Precedent</th>
                                            <th class="small">Date Releve Precedente</th>
                                            <th class="small">Durée Periode</th>
                                            <th class="small">Consommation</th>
                                            <th class="small">Index Active</th>
                                            <th class="small">Date releve</th>
                                            <th class="small">Anomalie</th>
                                            <th class="small">Releveur</th>
                                            <th class="small">Consommation Moyenne</th>
                                            <th class="small">images</th>
                                            <th class="small">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="getreleve.data.getReleve.where(`anomalie`,&quot;PE&quot;,&quot;==&quot;);" id="tableRepeat1" class="text-sm" key="$value">
                                        <tr dmx-bind:id="NumReleve" dmx-on:click="selectedReleve.setValue($value);indexReleve.setValue($index);getLogReleve.load({num_releve: $value.num_releve})" class="small" dmx-class:table-success="$value==selectedReleve.value">
                                            <td class="small">
                                                <i class="fas fa-check-square text-success" dmx-show="modifiedReleve.items.contains($value)"></i>

                                            </td>
                                            <td class="small" dmx-text="nom"></td>
                                            <td class="small" dmx-text="adr_physique"></td>
                                            <td class="small" dmx-text="codepl"></td>
                                            <td class="small" dmx-text="num_cpteur"></td>
                                            <td class="small" dmx-text="pre_index_a"></td>
                                            <td class="small" dmx-text="pre_date_releve.formatDate('dd-MMM-yyyy')"></td>
                                            <td class="small" dmx-text="periode_duree.days"></td>
                                            <td class="small" dmx-text="consommation"></td>
                                            <!-- <td class="small" dmx-text="index_a"></td> -->
                                            <td class="small">
                                                <input class="text-danger" type="number" dmx-bind:value="index_a">
                                            </td>
                                            <!-- <td class="small">

                                                <input id="index_a" name="index_a" type="text" class="form-control correct-input" dmx-bind:value="index_a" dmx-on:updated="run({runJS:{function:'updateDataIndex',args:[`$index`,`value`],name:'updateData',outputType:'text'}})" dmxorgdomid="d128772">
                                            </td> -->
                                            <td class="small" dmx-text="date_releve.formatDate('dd-MMM-yyyy')"></td>

                                            <td class="small" dmx-text="anomalie"></td>
                                            <td class="small" dmx-text="matricule"></td>


                                            <td class="small" dmx-text="moy_consommation"></td>
                                            <td class="small">
                                                <button id="showImagebtn" class="btn btn-group btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#showIMAGEmODAL" dmx-on:click="getReleveImage.load({num_releve: num_releve},true)">Voir Image</button>

                                            </td>
                                            <td class="small" class="d-flex">

                                                <button id="btn1" class="btn btn-danger btn-group btn-sm" dmx-on:click="run([{run:{action:`modifiedReleve.add($value)`,outputType:'text'}},{runJS:{function:'updateDataIndex',args:[`num_releve`],name:'updateDataIndex',outputType:'text'}}])">Ancien index</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-between align-items-start" dmx-show="modifiedReleve.count&gt;0">
                                <div>
                                    <button id="resetBtn" class="btn btn-sm btn-warning" dmx-on:click="run([{run:{action:`modifiedReleve.empty()`,outputType:'text'}},{run:{action:`getreleve.load({tournee: selectedBordereau.value.tournee, periode: selectedBordereau.value.periode, bordereau: selectedBordereau.value.bordereau})`,outputType:'text'}},{runJS:{function:'resetAnomalieArray',name:'resetAnomalieArray',outputType:'text'}}])" dmx-show="getreleve.data.getReleve.length&gt;0">Reinitialiser</button>
                                    <button id="correctBtn" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#confirmCorrectReleve">Enregistrer</button>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="tab-pane fade show" id="Sans" role="tabpanel">
                        <h6 class="heading-text">Toutes les releves du bordereau</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="table-head">

                                        <th class="small">Nom</th>
                                        <th class="small">Addresse</th>
                                        <th class="small">Numero PL</th>
                                        <th class="small">Numéro Compteur</th>
                                        <th class="small">Index Precedent</th>
                                        <th class="small">Date Releve Precedente</th>
                                        <th class="small">Durée Periode</th>
                                        <th class="small">Consommation</th>
                                        <th class="small">Index Active</th>
                                        <th class="small">Date releve</th>
                                        <th class="small">Anomalie</th>
                                        <th class="small">Releveur</th>
                                        <th class="small">Consommation Moyenne</th>
                                    </tr>
                                </thead>
                                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="getreleve.data.getReleve" id="tableRepeat5">
                                    <tr dmx-on:click="selectedReleve.setValue($value);getLogReleve.load({num_releve: num_releve},true)" class="small" dmx-class:table-success="$value==selectedReleve.value">

                                        <td class="small" dmx-text="nom"></td>
                                        <td class="small" dmx-text="adr_physique"></td>
                                        <td class="small" dmx-text="codepl"></td>
                                        <td class="small" dmx-text="num_cpteur"></td>
                                        <td class="small" dmx-text="pre_index_a"></td>
                                        <td class="small" dmx-text="pre_date_releve.formatDate('dd-MMM-yyyy')"></td>
                                        <td class="small" dmx-text="periode_duree.days"></td>
                                        <td class="small" dmx-text="consommation"></td>
                                        <td class="small" dmx-text="index_a"></td>
                                        <td class="small" dmx-text="date_releve.formatDate('dd-MM-yyyy')"></td>
                                        <td class="small" dmx-text="anomalie"></td>
                                        <td class="small" dmx-text="matricule"></td>
                                        <td class="small" dmx-text="moy_consommation"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>






            </div>
            <div class="card">
                <div class="d-flex flex-column">
                    <h6 class="heading-text">Historique du relevé</h6>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr class="small">
                                    <th class="small">Numero de la releve</th>
                                    <th class="small">Ancien Index</th>
                                    <th class="small">Corrigé par</th>
                                    <th class="small">Date</th>
                                    <th class="small">Date Prime Fixe</th>
                                    <th class="small">Ancienne anomalie</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="releveLog.data" id="tableRepeat4" key="id_log">
                                <tr class="small">
                                    <td class="small" dmx-text="num_releve"></td>
                                    <td class="small" dmx-text="index_ancien"></td>
                                    <td class="small" dmx-text="user_crea"></td>
                                    <td class="small" dmx-text="date_crea.formatDate('dd-MM-yyyy')"></td>
                                    <td class="small" dmx-text="date_pf.formatDate('dd-MM-yyyy')"></td>
                                    <td class="small" dmx-text="anomalie"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pagination-sm" dmx-dataview="releveLog" dmx-generator="bs5paging">
                        <li class="page-item" dmx-class:disabled="releveLog.page == 1" aria-label="First">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="releveLog.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="releveLog.page == 1" aria-label="Previous">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="releveLog.prev()"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:active="title == releveLog.page" dmx-class:disabled="!active" dmx-repeat="releveLog.getDataViewPagination(2,1,'...')">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="releveLog.select(page)">{{title)}}</a>
                        </li>
                        <li class="page-item" dmx-class:disabled="releveLog.page == releveLog.pages" aria-label="Next">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="releveLog.next()"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="releveLog.page == releveLog.pages" aria-label="Last">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="releveLog.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    var array = dmx.app.data.content.selectedReleveCorrection.items;
    var checkedArray = dmx.app.data.content.allCheckBoxChecked.items;
    function releveToJson(){

        var array = dmx.app.data.content.selectedReleveCorrection.items;
        var jsonArray = [];
            for(var i=0;i<array.length;i++){
                if(array[i].IndexC == 0)array[i].IndexC = array[i].IndexA;
                    jsonArray.push( {
                        "NumReleve":array[i].NumReleve,
                        "IndexA":array[i].IndexA,
                        "IndexC":array[i].IndexC,
                        "Anomalie":array[i].Anomalie,
                        "AnomalieC":array[i].AnomalieC,
                }
            )

        }
        dmx.app.data.content.jsonReleveCorrection.value = JSON.stringify(jsonArray);
        

    }

    function updateDataIndex(num_releve){
        var index = dmx.app.data.content.releveAnomaliList.items.findIndex(a=> a.num_releve==num_releve);
            console.log(dmx.app.data.content.releveAnomaliList.items[index])
        dmx.app.data.content.releveAnomaliList.items[index].index_a = dmx.app.data.content.releveAnomaliList.items[index].pre_index_a;
    }
        function resetAnomalieArray(){
        
        dmx.app.data.content.releveAnomaliList.items = dmx.app.data.content.getreleve.data.getReleve.filter(x=>x.anomalie=="PE");
    }
    // function updateAllDataIndex(){
    //     var index = dmx.app.data.content.releveAnomaliList.items.findIndex(a=> a.num_releve==num_releve);
    //         for(var i=0;i<dmx.app.data.content.releveAnomaliList.count;i++){
    //             if(!dmx.app.data.content.modifiedReleve.items[i].includes(dmx.app.data.content.releveAnomaliList.items[i])){
    //                 dmx.app.data.content.releveAnomaliList.items[i].index_a=pre_index_a
    //             }
    //         }
    //     dmx.app.data.content.releveAnomaliList.items[index].index_a = pre_index_a;
    // }

    function addToSelectedReleveArray(value){
                
        const el = document.getElementById(value.NumReleve)
        var array = dmx.app.data.content.selectedReleve.items;
        const index = array.indexOf(value)
        if(index== -1 ){
            array.push(value)
            el.classList.add("table-success")
        } 


    }
    function removeToSelectedReleveArray(value){
        const el = document.getElementById(value.NumReleve)

        var array = dmx.app.data.content.selectedReleve.items;

        const index = array.indexOf(value)

        if(index !== -1 ){
      
          array.splice(index,1);

          el.classList.remove("table-success")

        }

    }

function clearData(){
          var array = dmx.app.data.content.selectedReleveCorrection.items;
        var checkedArray = dmx.app.data.content.selectedReleve.items;
      
         for(var i=0; i<checkedArray.length;i++){       
            for(var y=0; y<array.length;y++){
                                    const el = document.getElementById(array[y].NumReleve)
                if(array[y].NumReleve == checkedArray[i].NumReleve ){
                                        console.log(el)

                    if(el){
                                            el.classList.add("table-success")

                    }
                    } else{
                    console.log(el)
                   if(el){
                     el.classList.remove("table-success")
                   }

                }
            }
         }
}

    function updateDataAnomalie(value,index,newAnomalie){
        var array = dmx.app.data.content.selectedReleveCorrection.items;
        var checkedArray = dmx.app.data.content.selectedReleve.items;
      
         for(var i=0; i<checkedArray.length;i++){       
            for(var y=0; y<array.length;y++){
                if(array[y].NumReleve == checkedArray[i].NumReleve){
                    console.log("  index"+y+ " value= "+ array[y].AnomalieC)
                    array[y].AnomalieC = newAnomalie;
                    console.log( array[y].AnomalieC)
                }
            }
                         

           
         }
        
    }

    function convertImage(bynariData){
        var strAscii = String.fromCodePoint(...bynariData);
var strBase64 = btoa(strAscii);

         dmx.app.data.content.releveImage.value= strBase64
    }
</script>