<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="tournee" appConnect="local" components="{dmxBrowser:{},dmxNotifications:{},dmxScheduler:{},dmxStateManagement:{},dmxBootstrap5Modal:{},dmxDataTraversal:{},dmxBootstrap5TableGenerator:{},dmxBootstrap5PagingGenerator:{},dmxBootstrap5Navigation:{},dmxFormatter:{},dmxValidator:{}}" -->
<dmx-serverconnect id="getListZone" noload="true" url="/api/tournee/get/getZoneGeo"></dmx-serverconnect>
<dmx-serverconnect id="getTournee" url="/api/tournee/get/getTournee" noload="true"></dmx-serverconnect>
<dmx-serverconnect id="getLieuGeo" url="/api/tournee/get/getLieuGeo" dmx-on:success=""></dmx-serverconnect>
<dmx-serverconnect id="getLotFacList" url="/api/tournee/get/getLotFacList" noload="true"></dmx-serverconnect>


<dmx-scheduler id="scheduler1" dmx-on:tick="browser1.goto('/views/tournee/allTournee')" noload="true" delay="3"></dmx-scheduler>
<div is="dmx-browser" id="browser1"></div>
<dmx-notifications id="notifies1"></dmx-notifications>
<dmx-data-view id="tourneeView" dmx-bind:data="getTournee.data.getTournee" pagesize="5"></dmx-data-view>
<dmx-value id="loading" dmx-bind:value="false"></dmx-value>


<dmx-value id="selectedCelluleNum"></dmx-value>

<dmx-value id="selectedLieuGeoId"></dmx-value>

<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="addTournee" appConnect="local" bootstrap5="local" components="{dmxStateManagement:{}}" -->



<meta name="ac:route" content="/views/tournee" />
<div class="container-fluid">
    <div class="row">
        <div class="card wrapper-select col-lg-2 col-md-3">
            <div class="d-flex flex-column">
                <h5>Lieu géographique</h5>
                <select id="lieugeographique" class="form-select form-control form-select-sm" dmx-bind:options="getLieuGeo.data.query" optiontext="libelle" optionvalue="num_lieugeo" dmx-on:updated="selectedLieuGeoId.setValue(value);getLotFacList.load({num_lieu_geo: selectedValue},true)">
                    <option selected="" value="">Aucun Lieu</option>
                </select>
                <span dmx-show="getLieuGeo.state.executing" class="spinner-border spinner-border-sm" role="status"></span>
            </div>

            <div class="icon-wrapper">
                <i class="far fa-map fa-2x icon"></i>
            </div>
        </div>

        <div class="card wrapper-select col-lg-2 col-md-3">
            <div class="d-flex flex-column">
                <h5>Cellule</h5>
                <select id="lotfac" class="form-select form-select-sm" dmx-bind:options="getLotFacList.data.query" optiontext="libelle" optionvalue="num_lot_fac" dmx-on:changed="getTournee.load({lot_fac: value, lieu_geo: lieugeographique.value},true);selectedCelluleNum.setValue(value);getListZone.load({num_lot_fac: value},true)">
                    <option selected="" value="">Aucune cellule</option>
                </select>

                <span dmx-show="getLotFac.state.executing" class="spinner-border spinner-border-sm" role="status"></span>

            </div>

            <div class="icon-wrapper">
                <i class="fas fa-map-marker-alt fa-2x icon"></i>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-12 mt-2 ms-0 me-0 ps-0 pe-0">
            <ul class="nav nav-tabs" id="navTabs1_tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active " id="listTourneeTab" data-bs-toggle="tab" href="#" data-bs-target="#listTourneTab" role="tab" aria-controls="navTabs1_1" aria-selected="true">Liste de toutes les tournées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="NouvelleTournee" data-bs-toggle="tab" href="#" data-bs-target="#newTourneTab" role="tab" aria-controls="navTabs1_2" aria-selected="false">Créer une nouvelle tournée</a>
                </li>
            </ul>
            <div class="tab-content" id="navTabs1_content">
                <div class="tab-pane fade show active" id="listTourneTab" role="tabpanel">
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Num tourne</th>
                                    <th>Lieu geo</th>
                                    <th>Zone geo</th>
                                    <th>Lot fac</th>
                                    <th>Nombre pl</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="tourneeView.data" id="tableRepeat2">
                                <tr>
                                    <td dmx-text="num_tourne"></td>
                                    <td dmx-text="lieu_geo"></td>
                                    <td dmx-text="zone_geo"></td>
                                    <td dmx-text="lot_fac"></td>
                                    <td dmx-text="nombre_pl"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pagination-sm" dmx-dataview="tourneeView" dmx-generator="bs5paging">
                        <li class="page-item" dmx-class:disabled="tourneeView.page == 1" aria-label="First">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="tourneeView.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="tourneeView.page == 1" aria-label="Previous">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="tourneeView.prev()"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:active="title == tourneeView.page" dmx-class:disabled="!active" dmx-repeat="tourneeView.getDataViewPagination(2,1,'...')">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="tourneeView.select(page)">{{title)}}</a>
                        </li>
                        <li class="page-item" dmx-class:disabled="tourneeView.page == tourneeView.pages" aria-label="Next">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="tourneeView.next()"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                        <li class="page-item" dmx-class:disabled="tourneeView.page == tourneeView.pages" aria-label="Last">
                            <a href="javascript:void(0)" class="page-link" dmx-on:click="tourneeView.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="newTourneTab" role="tabpanel">
                    <div class="row">
                        <div class="card wrapper-select col-lg-2 col-md-3">
                            <div class="d-flex flex-column">
                                <h5>Zone géographique</h5>
                                <select id="xlozoneGeotfac" class="form-select form-select-sm" dmx-bind:options="getListZone.data.getZone" optiontext="num_zone+' -- '+nom_zone" optionvalue="num_zone" name="zone_geo" required="" data-msg-required="Ce champ est nécessaire">
                                    <option selected="" value="">Aucune zone</option>
                                </select>
                                <span class="spinner-border spinner-border-sm" role="status" dmx-show="getListZone.state.executing"></span>
                            </div>

                            <div class="icon-wrapper">
                                <i class="fas fa-map-marked fa-2x icon"></i>
                            </div>
                        </div>
                        <div class="card wrapper-select col-lg-2 col-md-3">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <h5>Nouveau numéro de tournée generé</h5>
                                <h4>{{xlotfac.value.substring(0, 1)+xlozoneGeotfac.value}}</h4>
                                <button id="btn3" class="btn btn-sm btn-success" type="submit">
                                    <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span>
                                    Enregistrer
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


</div>