
.title-card{
    font-weight: 100;
}

.wrapper-select{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-right: 20px;
align-items: center;
}

.icon-wrapper{
    background-color: var(--primary);
    width: 50px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.icon{
    color: white;
    margin: auto;
}




.nav-item{
    font-size: large;
    background-color: rgba(212, 212, 212, 0.164);
    margin-right: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px rgba(212, 212, 212, 0.164);
    border-bottom: none;
}


.nav-link .active{
    border: solid 1px var(--primary) !important;
}
.nav-item:not(:has(.active)):hover{
    background-color: var(--quaternary);
}
.nav-item:not(:has(.active)):hover>.nav-link{
    color: white !important;

}
.tab-pane{
    border: solid 1px var(--primary);
    border-top: none;
}

.nav-item:has(.active){
    border: solid 1px var(--primary);
    border-bottom: none;

}




.list-card{
    background: var(--secondary);
    padding: 5px;
    border-radius: 10px;
    border: solid 1px var(--primary);
}

.list-card-text{
    color: var(--primary);
}
.list-card-background{
   background-color: transparent !important;
   background: transparent !important;
   color: black;
   border: solid  1px 0 1px 0 white;

}
dt{
    font-weight: unset;
}


.bordereau-selected .list-card-background{
    background-color: var(--quaternary) !important;
    color: white !important;
}

.form-affect{
    display: flex;
    justify-content: space-between;
}
.form-affect select{
    width: 70%;
}

.logo{
    height: 50px;
}

.navbar-footer{
    color: var(--primary);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}
.navbar-text{
    color: var(--primary);

}