<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="sidebar" appconnect="local" head-page="layouts/main" components="{dmxBootstrap5Navigation:{},dmxStateManagement:{},dmxBrowser:{}}" -->
<dmx-value id="actualPage" dmx-bind:value="content.browser1.location.pathname?content.browser1.location.pathname:''"></dmx-value>
<div is="dmx-browser" id="browser1"></div>
<dmx-local-manager id="connectedUser"></dmx-local-manager>
<div class="app-sidebar d-flex flex-column ps-4 pe-4 justify-content-between">
    <div class="list-group ">
        <a href="#" class="list-group-item list-group-item-action" dmx-on:click="browser1.goto('/',true,'Bordereau');actualPage.setValue('/')">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-around">
                    <i class="fas fa-scroll" dmx-style=""></i>
                    <h5 class="ms-2">Bordereaux</h5>
                </div>


                <i class="fas fa-arrow-right" dmx-show="actualPage.value=='/'"></i>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action" dmx-on:click="browser1.goto('/views/tournee',true,'Tournées');actualPage.setValue('/views/tournee')">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="fas fa-route"></i>
                    <h5 class="ms-2">Tournee</h5>
                </div>


                <i class="fas fa-arrow-right" dmx-show="actualPage.value=='/views/tournee'"></i>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action" dmx-on:click="browser1.goto('/views/releve',true,'Releve');actualPage.setValue('/views/tournee')">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="fas fa-edit"></i>
                    <h5 class="ms-2">Releve</h5>
                </div>


                <i class="fas fa-arrow-right" dmx-show="actualPage.value=='/views/releve'"></i>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action" dmx-on:click="browser1.goto('/views/rapport',true,'Rapport');actualPage.setValue('/views/rapport')">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="fas fa-file-invoice"></i>
                    <h5 class="ms-2">Rapport</h5>
                </div>


                <i class="fas fa-arrow-right" dmx-show="actualPage.value=='/views/rapport'"></i>
            </div>
        </a>
    </div>
</div>